<h1>Movies</h1>

<p>Many movies in the list</p>

<div class="example-button-row">
    <button mat-raised-button [routerLink]='["../edit"]' color="primary">Add</button>
</div>
<br>

<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<!--<mat-table matTableFilter [exampleEntity]="filterEntity"
           [filterType]="filterType" [dataSource]="dataSource" class="mat-elevation-z8">-->

<!--<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>-->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef style="width:21%"> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>


    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef style="width:21%"> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>


    <ng-container matColumnDef="genre" style="width:21%">
        <th mat-header-cell *matHeaderCellDef> Genre </th>
        <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
    </ng-container>


    <ng-container matColumnDef="durationInMin">
        <th mat-header-cell *matHeaderCellDef style="width:21%"> DurationInMin </th>
        <td mat-cell *matCellDef="let element"> {{element.durationInMin}} </td>
    </ng-container>

    <ng-container matColumnDef="yearOfRelease">
        <th mat-header-cell *matHeaderCellDef style="width:21%"> YearOfRelease </th>
        <td mat-cell *matCellDef="let element"> {{element.yearOfRelease}} </td>
    </ng-container>

    <ng-container matColumnDef="director">
        <th mat-header-cell *matHeaderCellDef style="width:21%"> Director </th>
        <td mat-cell *matCellDef="let element"> {{element.director}} </td>
    </ng-container>

    <ng-container matColumnDef="dateAdded">
        <th mat-header-cell *matHeaderCellDef style="width:21%"> DateAdded </th>
        <td mat-cell *matCellDef="let element"> {{element.dateAdded}} </td>
    </ng-container>

    <ng-container matColumnDef="numberOfComments">
        <th mat-header-cell *matHeaderCellDef style="width:21%"> NrOfComments </th>
        <td mat-cell *matCellDef="let element"> {{element.numberOfComments}} </td>
    </ng-container>

    <!--<ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef style="width:21%"> Rating </th>
        <td mat-cell *matCellDef="let movie"> {{movie.rating}} </td>
    </ng-container>

    <ng-container matColumnDef="wasWatched">
        <th mat-header-cell *matHeaderCellDef style="width:21%"> Watched </th>
        <td mat-cell *matCellDef="let movie"> {{movie.wasWatched}} </td>
    </ng-container>-->
    Action Column
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="width:10%"> Action </th>
        <td mat-cell *matCellDef="let movie">
            <button mat-icon-button matTooltip="Edit" [matTooltipPosition]="'after'">
                <mat-icon aria-label="Example icon-button with a heart icon" [routerLink]="['../edit', movie.id]">edit</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Delete" [matTooltipPosition]="'after'">
                <mat-icon aria-label="Example icon-button with a heart icon " (click)="deleteMovie(movie)">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
    <mat-progress-bar mode="indeterminate" *ngIf="!movies"></mat-progress-bar>


